* 

            {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "Source Sans 3", sans-serif;
            }



clip-art-header.png {
    text-align: center;
    width: 100%;
}
    
body,
header

    {
        width: 100%;
    box-sizing: border-box;  
    text-align: center;
    background-color: white;


}
            h1 {
    box-sizing: border-box;
    position: flex;
    text-align: center;
    width: 100%;
    color: #E5173F;
}

ul {
    
    list-style: none;   
    left: 50%;
    position: flex;
    text-align: center;
    font-size: 1rem;
    padding-top: 10px;
    padding-block: 20px;
    text-decoration: none;
    }

    ul li

    {
    padding: 5px;
    }



ul li a 
    {   
    display: inline-block;
    color: #E5173F;
    font-weight: 500;
    border: 1px solid #E5173F;
    border-radius: 40px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;

    }   

    
